<% layout('layouts/boilerplate') %> 

<h1>Education</h1>
<hr>

    <% for(let degree of degrees){ %>
    <article class="degree">
        <div class="degreeContent">
            <div class="degreeDetail">
                <div class="groupDegreeSchool">
                    <div class="degree"><h3 class="title"><%= degree.degree %></h3></div>
                    <div class="school"><%= degree.school%></div>
                </div>
                <% if(degree.program) { %> 
                    <div class="program"><%= degree.program %> </div>
                <% } %>
                <div class="gradYear"><%= degree.gradYear%></div>
            </div>
            
            <% if(degree.classes.length > 0){ %>
                <ul class="courses">
                <% for(each of degree.classes){ %> 
                    <li><%= each %></li>
                <% } %>
                </ul>
            <% } %>
        </div>
    </article>
    <% } %> 

