<% layout('layouts/boilerplate') %> 
    <article class="projectLinks">
        <div class="projectName">
            <h3 class="title"><%= project.name%></h3>
            <hr>
        </div>
        <ul class="links">
            <%- (project.gitHubLink !== null && project.gitHubLink !== '' ? `<li><a class="sourceCode" href="${project.gitHubLink}">Source Code</a></li>` : ``) %>
            <%- (project.liveLink !== null && project.liveLink !== '' ? `<li><a class="liveLink" href="${project.liveLink}">Live Demo</a></li>` : ``) %>
            <li><a class="edit" href="/projects/<%= project._id %>/edit">Edit</a></li>
            <li><form action="/projects/<%= project._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form></li>
        </ul>
    </article>
    
    <div class="shortDescription">
        <%= project.shortDescription%>
    </div>
    <hr>
    <div class="description">
        <%- project.description%>
    </div>
    
    
    
        <% if(project.tags.length > 0 && project.tags[0].length > 0) { %>
            <h4 class="tagsTitle">Project Tags</h4>
            <div class="tags"> 
                <% for(tag of project.tags){%>
                    <div class="tag"><%= tag %></div>
                <% } %>
            </div>
        <% } %>
    
